WorkFlowAPB/Workflow/Service References/TrainingMeetingService/TrainingMeetingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TrainingMeetingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1332/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1332/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1332/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrainingMeetingService.Models" />
      <xsd:import schemaLocation="http://localhost:1332/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrainingMeetingService_SaveDietAndTrainingPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDietAndTrainingPlan" />
  </wsdl:message>
  <wsdl:message name="ITrainingMeetingService_SaveDietAndTrainingPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDietAndTrainingPlanResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainingMeetingService_SendClientNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendClientNotification" />
  </wsdl:message>
  <wsdl:message name="ITrainingMeetingService_SendClientNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendClientNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainingMeetingService_ProposeDates_InputMessage">
    <wsdl:part name="parameters" element="tns:ProposeDates" />
  </wsdl:message>
  <wsdl:message name="ITrainingMeetingService_ProposeDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProposeDatesResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainingMeetingService_SaveChosenDate_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveChosenDate" />
  </wsdl:message>
  <wsdl:message name="ITrainingMeetingService_SaveChosenDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveChosenDateResponse" />
  </wsdl:message>
  <wsdl:message name="ITrainingMeetingService_SaveChangesToDiet_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveChangesToDiet" />
  </wsdl:message>
  <wsdl:message name="ITrainingMeetingService_SaveChangesToDiet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveChangesToDietResponse" />
  </wsdl:message>
  <wsdl:portType name="ITrainingMeetingService">
    <wsdl:operation name="SaveDietAndTrainingPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainingMeetingService/SaveDietAndTrainingPlan" message="tns:ITrainingMeetingService_SaveDietAndTrainingPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainingMeetingService/SaveDietAndTrainingPlanResponse" message="tns:ITrainingMeetingService_SaveDietAndTrainingPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendClientNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainingMeetingService/SendClientNotification" message="tns:ITrainingMeetingService_SendClientNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainingMeetingService/SendClientNotificationResponse" message="tns:ITrainingMeetingService_SendClientNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProposeDates">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainingMeetingService/ProposeDates" message="tns:ITrainingMeetingService_ProposeDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainingMeetingService/ProposeDatesResponse" message="tns:ITrainingMeetingService_ProposeDates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveChosenDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainingMeetingService/SaveChosenDate" message="tns:ITrainingMeetingService_SaveChosenDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainingMeetingService/SaveChosenDateResponse" message="tns:ITrainingMeetingService_SaveChosenDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveChangesToDiet">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrainingMeetingService/SaveChangesToDiet" message="tns:ITrainingMeetingService_SaveChangesToDiet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrainingMeetingService/SaveChangesToDietResponse" message="tns:ITrainingMeetingService_SaveChangesToDiet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITrainingMeetingService" type="tns:ITrainingMeetingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveDietAndTrainingPlan">
      <soap:operation soapAction="http://tempuri.org/ITrainingMeetingService/SaveDietAndTrainingPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendClientNotification">
      <soap:operation soapAction="http://tempuri.org/ITrainingMeetingService/SendClientNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProposeDates">
      <soap:operation soapAction="http://tempuri.org/ITrainingMeetingService/ProposeDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveChosenDate">
      <soap:operation soapAction="http://tempuri.org/ITrainingMeetingService/SaveChosenDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveChangesToDiet">
      <soap:operation soapAction="http://tempuri.org/ITrainingMeetingService/SaveChangesToDiet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrainingMeetingService">
    <wsdl:port name="BasicHttpBinding_ITrainingMeetingService" binding="tns:BasicHttpBinding_ITrainingMeetingService">
      <soap:address location="http://localhost:1332/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>