WorkFlowAPB/Workflow/Service References/ChooseBestSubscription/ChooseBestSubscription1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ChooseBestSubscriptionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsWeekendIncluded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWholeDayImportant" type="xs:boolean" />
      <xs:element minOccurs="0" name="TrainingsInWeek" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChooseBestSubscriptionRequest" nillable="true" type="tns:ChooseBestSubscriptionRequest" />
  <xs:complexType name="ChooseBestSubscriptionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="PlanName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChooseBestSubscriptionResponse" nillable="true" type="tns:ChooseBestSubscriptionResponse" />
</xs:schema>